.UIButton {
  letter-spacing: 1px !important;
  font-family: Proxima Nova !important;
  font-style: normal !important;
  display: flex !important;
  justify-content: center !important;

  width: 100%;
  font-style: normal;
  background: linear-gradient(
    76.37deg,
    #ff5200 16.63%,
    rgba(255, 82, 0, 0) 207.69%
  ) !important;
  border-radius: 0;
  border: 0;
  height: fit-content;
  text-transform: none !important;
  color: white !important;
}
