.Status_Container {
  display: flex;
  justify-content: space-between;

  p {
    font-family: Proxima Nova;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;

    opacity: 0.3;
  }
}

.Label_Container {
  max-width: 70%;
  width: 100%;
  margin-bottom: 2%;
}
